#headerbar {
    background-color: #f4700a;
    border-radius: 15px; 
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: blue solid 3px;
}
#holder{
  padding: blue 10em;
}
#centerheader {
    color: black;
    font-style: Courier;
    text-align: center;
}
#rightheader {
    color: #00ff00;
    text-align: right;
}
#title{
  text-align: center;
  font-style: bold;
  font-size: 16pt;
}
#aboutme {
  border: blue solid 3px;
  font-family: Courier;
  font-size: 14pt;
  text-align: left;
  float: left;
  width: 20em;
  height: 32em;
  background-color: #f4700a;
  border-radius: 15px;
}
html {
  background:url(road.jpg) no-repeat center center fixed;
}
.piclink {
  width: 10em;
  height: 10em;
}
#github{
  float: right;
}
#linkedin{
  float: right;
  margin-top: 5em;
}
#blog {
  float: right;
  margin-top: 10em;
  
}
