#headerbar {
    background-color: #f4700a;
    border-radius: 15px; 
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#holder{
  padding: blue 10em;
}
#header {
    color: #00ff00;
    text-align: center;
}
#title{
  text-align: center;
  font-style: bold;
  font-size: 16pt;
}
#aboutme {
  border: blue dashed 5px;
  font-family: Courier;
  font-size: 14pt;
  text-align: left;
  float: left;
  width: 20em;
  height: 30em;
}