#headerbar {
    background-color: #f4700a;
    border-radius: 15px; 
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: blue solid 3px;
}
#holder{
  padding: blue 10em;
}
#centerheader {
    color: black;
    font-style: Courier;
    text-align: center;
}
#rightheader {
    color: #00ff00;
    text-align: right;
}
#title{
  text-align: center;
  font-style: bold;
  font-size: 16pt;
}
#aboutme {
  border: blue solid 3px;
  font-family: Courier;
  font-size: 14pt;
  text-align: left;
  float: left;
  width: 20em;
  height: 32em;
  background-color: #f4700a;
  border-radius: 15px;
  margin-top: 1em;
}
html {
  background:url(road.jpg) no-repeat center center fixed;
}
.piclink {
  width: 10em;
  height: 10em;
}
#github{
  float: right;
  margin-top: 1em;
}
#linkedin{
  float: right;
  margin-top: 6em;
}
#blog {
  float: right;
  margin-top: 11em;
}
#blogpost {
  border: blue solid 3px;
  font-family: Courier;
  font-size: 12pt;
  text-align: left;
  float: left;
  width: 50em;
  height: 65em;
  background-color: #f4700a;
  border-radius: 15px;
  margin-top: 1em;
}
#email{
  border-radius: 5px;
	border: 3px solid blue;
	background-color: #f4700a;
	height: 25px;
	width: 100px;
	text-align: center;
  margin-left: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  margin-top: 1em;
  float: left;
}
#emailink{
  text-decoration: none;
  font-family: Courier;
  text-align: center;
  color: black;
}